.card {
  margin: 20px auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.card-content-spinner {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete-button {
    margin-left: 5px;
}